/* Custom font: STIX Two Text (uploaded to Shopify) */
@font-face {
  font-family: "STIX Two Text";
  src: url("https://cdn.shopify.com/s/files/1/0726/7788/3951/files/STIXTwoText-VariableFont_wght.woff2?v=1764568174") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "STIX Two Text";
  src: url("https://cdn.shopify.com/s/files/1/0726/7788/3951/files/STIXTwoText-Italic-VariableFont_wght.woff2?v=1764568174") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Google Fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
